body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2.subtitle {
  font-size: 23px;
  font-weight: bold;
}
.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left !important;
}
