h2.downloadlink {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}
h2.pointsofinterest {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}
h1.header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h1.travelguide {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}
.footer {
  text-align: right;
  color: gray;
}
body {
  background-color: black;
}
.cellphoneimage,
.campimage,
.comingsoon,
.video {
  text-align: center;
}
.comingsoon {
  color: white;
  font-size: 42px !important;
  font-family: Verdana; sans-serif;
}
